---
import { Image } from "astro:assets";
import goju from "../assets/goju.webp";
---

<html>
	<head lang="eng"> </head>
	<body>
		<Image src={goju} alt="Photo of me" width="700" height="400" />
	</body>
</html>
